@page "/Highscore"

<h1 class="page-title">HighscoreList</h1>

@if (!CombresedAndLocal)
{
    <input id="userName" @bind="Sheach" @bind:event="oninput" class="form-control" />
}

@if (Highscores?.Any() ?? false)
{
    <table class="table">
        <thead>
            <tr>
                <th>Pos</th>
                <th>Time</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Highscore item in Highscores)
            {
                <HighscoreC Pos=Highscores.ToList().IndexOf(item)+1 Highscore=item />
            }
        </tbody>
    </table>
}
else
{
    <p>No Highscores</p>
}
