@page "/"

@if (string.IsNullOrWhiteSpace(userName) || !Ready)
{
    <h1>Welcome to Reaction Game</h1>
    <div class="row">
        <div class="form-group col">
            <label for="userName">UserName: </label>
            <input id="userName" @bind="userName" @bind:event="oninput" class="form-control" />
            <button type="button" class="btn btn-primary" @onclick="PlayerReady">Ready</button>
        </div>

    </div>
}
else
{
    <div class="row">
        <div class="form-group col-8">
            <Reaction userName="@userName"></Reaction>
        </div>
        <div class="col-4">
            <HighscorePages CombresedAndLocal="true"></HighscorePages>
        </div>
    </div>
}

