@page "/"

@if (string.IsNullOrWhiteSpace(userName) || !Ready)
{
    <h1>Welcome to Reaction Game</h1>

    <div class="form-group">
        <label for="userName">UserName: </label>
        <input id="userName" @bind="userName" @bind:event="oninput" class="form-control" />
        <button type="button" class="btn btn-primary" @onclick="PlayerReady">Ready</button>
    </div>
}
else
{
<Reaction userName="@userName"></Reaction>
}

