
<p>@Info</p>
@if(!playing)
{ 
<button type="button" class="btn btn-primary" @onclick="StartGameAsync">@GameLable</button>
}
@if (Press)
{
<button type="button" class="btn btn-primary" @onclick="PresedAsync">Press</button>
}
